<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/style.css">
      <title>Shubham Sync App Project</title>
   </head>
   
   <body class="container-fluid">
      <footer class="container-fluid text-center">
        <button type="button" class="btn btn-info">
          <h1><img src="images/logo.jpg" width="50" height="70" class="img-circle">Shubham App Sync Project</h1>
        </button>
      </footer>
    </body>
</html>